@{
    ViewBag.Title = "Contact";
}
<hr />
<hr />
<h2 align="center" style="font-family:'Century'; font-weight:bold">@ViewBag.Message</h2>

<div class="container" align="center">
    <h3 style="font-family:'Garamond'; font-weight:900">Priyankkumar Patel</h3>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQH2aDvIWjU1OQ/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=r2g4nwksSI7v5KMnglZr1YYYyCEUi01tOPEUG5ol7Ok" alt="Card image" style="width:50%">
        <div class="card-body">
            <br />
            <p class="card-text" style="font-family:Century; font-weight:500; color:black">Priyankkumar Patel a self-motivated computer programmer, always open to changes and adapt to new technologies. I am well acquainted with developing faster algorithms for the program and organize data with great data structures techniques.</p>
            <a href="https://www.linkedin.com/in/priyankpatel01/" class="btn btn-primary" style="font-family:Garamond; font-weight:bold">See Profile</a>
        </div>
    </div>
    <br>

    <h3 style="font-family:Garamond; font-weight:900">Anjali Pillai</h3>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQGff8AcNKpdvQ/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=G9auQqNKxkeFgsadlPdUiAP4TQ88CJWVO9nObMayYIM" alt="Card image" style="width:50%">
        <div class="card-body">
            <br />
            <p class="card-text" style="font-family:Century; font-weight:500; color:black">Anjali Ajithkumar Pillai. I like to complete tasks on time and plan all my work beforehand. I like working with Asp.Net and MS SQL database management.</p>
            <a href="https://www.linkedin.com/in/anjali-ajithkumar-pillai/" class="btn btn-primary" style="font-family:Garamond; font-weight:bold">See Profile</a>
        </div>
    </div>
    <br>

    <h3 style="font-family:Garamond; font-weight:900">Yesha Patel</h3>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQEl4WjBjDOFng/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=fsnPGZFsvP4TX2qauqgv723_xEWa3MfBgpS3FmpocPM" alt="Card image" style="width:50%">
        <div class="card-body">
            <br />
            <p class="card-text" style="font-family:Century; font-weight:500; color:black">Yesha Patel, a confident individual with excellent project management skills. I grab every possible opportunity for self-development and growth. I enjoy working with ASP.Net, MsSQL and being creative with MS Powerpoint, Excel and Word.</p>
            <a href="https://www.linkedin.com/in/yesha-patel06/" class="btn btn-primary" style="font-family:Garamond; font-weight:bold">See Profile</a>
        </div>
    </div>
    <br>

    <h3 style="font-family:Garamond; font-weight:900">Dhruvi Tank</h3>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQFL9WSMUMllKw/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=MYT_X4WO7bTx2BreAl7GPGPqVr8oRq15mryVRTlAh3o" alt="Card image" style="width:50%">
        <div class="card-body">
            <br />
            <p class="card-text" style="font-family:Century; font-weight:500; color:black">Self-motivated individual with the team working ability and great communication skills. always ready to work with new challenges and gain knowledge. Excellent in using Microsoft products.</p>
            <a href="https://www.linkedin.com/in/dhruvitank/" class="btn btn-primary" style="font-family:Garamond; font-weight:bold">See Profile</a>
        </div>
    </div>
    <br>

    <h3 style="font-family:Garamond; font-weight:900">Rutul Patel</h3>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQE0qW3yyK5N5A/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=NLSbQvf2_sXlw8XLJ-BhJNOCu8l5Hl1-kcowXrW2vZ8" alt="Card image" style="width:50%">
        <div class="card-body">
            <br />
            <p class="card-text" style="font-family:Century; font-weight:500; color:black">I work collaboratively in team-based and deadline-driven environments with minimal guidance. I have gained knowledge of ASP.NET, C#, Java, Swift with MySQL and implemented knowledge to deliver work on time</p>
            <a href="https://www.linkedin.com/in/rutul-patel-417972148/" class="btn btn-primary" style="font-family:Garamond; font-weight:bold">See Profile</a>
        </div>
    </div>
    <br>


</div>
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:Support@detextion.com">Support@detextion.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@detextion.com">Marketing@detextion.com</a>
</address>
