@{
    ViewBag.Title = "Contact";
}
<hr />
<hr />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <h2>Priyankkumar Patel</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf42bT5z_HoW5Xchk9-ua3dpRMYZBivtk-P_L_v9eUVpzKlrUS&s" alt="Card image" style="width:50%">
        <div class="card-body">
            <h4 class="card-title">Priyankkumar</h4>
            <p class="card-text">Priyankkumar Patel a self-motivated computer programmer, always open to changes and adapt to new technologies. I am well acquainted with developing faster algorithms for the program and organize data with great data structures techniques.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <br>

    <h2>Anjali Pillai</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf42bT5z_HoW5Xchk9-ua3dpRMYZBivtk-P_L_v9eUVpzKlrUS&s" alt="Card image" style="width:50%">
        <div class="card-body">
            <h4 class="card-title">Anjali </h4>
            <p class="card-text">Anjali Ajithkumar Pillai. I like to complete tasks on time and plan all my work beforehand. I like working with Asp.Net and MS SQL database management.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <br>

    <h2>Yesha Patel</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf42bT5z_HoW5Xchk9-ua3dpRMYZBivtk-P_L_v9eUVpzKlrUS&s" alt="Card image" style="width:50%">
        <div class="card-body">
            <h4 class="card-title">Yesha</h4>
            <p class="card-text">Yesha Patel, a confident individual with excellent project management skills. I grab every possible opportunity for self-development and growth. I enjoy working with ASP.Net, MsSQL and being creative with MS Powerpoint, Excel and Word.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <br>

    <h2>Dhruvi Tank</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf42bT5z_HoW5Xchk9-ua3dpRMYZBivtk-P_L_v9eUVpzKlrUS&s" alt="Card image" style="width:50%">
        <div class="card-body">
            <h4 class="card-title">Dhruvi</h4>
            <p class="card-text">Self-motivated individual with the team working ability and great communication skills. always ready to work with new challenges and gain knowledge. Excellent in using Microsoft products.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <br>

    <h2>Rutul Patel</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf42bT5z_HoW5Xchk9-ua3dpRMYZBivtk-P_L_v9eUVpzKlrUS&s" alt="Card image" style="width:50%">
        <div class="card-body">
            <h4 class="card-title">Rutul</h4>
            <p class="card-text">I work collaboratively in team-based and deadline-driven environments with minimal guidance. I have gained knowledge of ASP.NET, C#, Java, Swift with MySQL and implemented knowledge to deliver work on time</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <br>


</div>
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:Support@detextion.com">Support@detextion.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@detextion.com">Marketing@detextion.com</a>
</address>
