@{
    ViewBag.Title = "Home Page";
}
<hr />
<hr />
<div class="jumbotron">
    <h1 align="center" style="font-family:Century; font-weight:bold; color:black">DETEXTION</h1>
</div>
<div class="jumbotron">
    <p align="center" class="lead" style="font-family:Century; color:black">Welcome to the DETEXTION. Here is the application to locate and track vehicles within the parking lot in Dealership.</p>
    <h2 align="center" style="font-family:Century; font-weight:bold; color:black">About us</h2>
    <p align="center" style="font-family:Century; color:black">
        Founded in 2017, we were the first company with unprecedented technology. Offering a remarkable service that facilitates a need of accuracy and efficiency within the Dealership.
        DeTextion respects the time of our clients, striving to serve them with the upmost of care. Through our honest work and transparency of our product, we make it our goal to sustain great relationships trust with our clients and our communities.
    </p>
    <h2 align="center" style="font-family:Century; font-weight:bold; color:black">Our Vision</h2>
    <p align="center" style="font-family:Century; color:black">Our vision is to make our lives easier and efficient, with respect and honesty. Bringing togetherness within our society, striving to help sustain our future. </p>
    <h2 align="center" style="font-family:Century; font-weight:bold; color:black">Our values</h2>
    <p align="center" style="font-family:Century; color:black">
        -	Respect
        -	Honesty
        -	Transparency
        -	Efficiency
        -	Accuracy
    </p>
</div>

<div class="row">
    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>