@{
    ViewBag.Title = "Live Status";
}

<br />
<br />
<h2 align="center" style="font-family:'Century'; font-weight:bold; color:white; background-color:#282929">@ViewBag.Message</h2>
<br />
<center>
    <hr />
    @*<input type="search" id="txtsrc" placeholder="Enter value to search ......" />*@
    <input type="search" id="txtsrc" class="search" placeholder="Enter value to search ......" />
    <hr />
    <div class="justify-content-center">
        <a href="https://www.google.ca/maps">
            <img src="~/Images/site-capture.jpg" />
        </a>
    </div>
</center>

