@{
    ViewBag.Title = "Live Status";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr />
<hr />
<center>
    <hr />

    <input type="search" id="txtsrc" class="search" placeholder="Enter value to search ......" />
    <hr />
    
    <div class="justify-content-center">
        <a href="https://www.google.ca/maps">
            <img src="~/Images/site-capture.jpg" />
        </a>
    </div>
</center>

