@{
    ViewBag.Title = "Settings";
}

<br />
<br />
<h2 align="center" style="font-family:'Century'; font-weight:bold; color:white; background-color:#282929">@ViewBag.Message</h2>
<hr />

<p>Settings will be updated later on......</p>
